body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.SpriteImage {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url('./static/images/insta.png');
  background-size: 236px 211px;  
}

.SmallButton {
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  outline: 0;
  padding: 0;
  min-height: 40px;
  min-width: 40px;
}